<span class="created-by">
    
    <a href="mailto:gcvalderrama@hotmail.com"> Support </a>
</span>
<span>
    <b><a href="#" target="_blank">Owlvey </a></b> @2020
</span>
<div class="socials">
    <a  [href]="options.githubFalconURL" target="_blank" class="ion ion-social-github"></a>
    <a  [href]="options.facebookFalconURL" target="_blank" class="ion ion-social-facebook"></a>
    <a  [href]="options.twitterFalconURL" target="_blank" class="ion ion-social-twitter"></a>
    <a  [href]="options.linkedinFalconURL" target="_blank" class="ion ion-social-linkedin"></a>
</div>