<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Actions</nb-card-header>
        <nb-card-body>          
          <form class="form-inline">
              <button type="button" nbButton status="primary" (click)="handleClick($event)"> Report </button>
              <button type="button" nbButton status="primary" (click)="onItemsClick($event)"> View Items </button>
              <button type="button" nbButton status="primary" (click)="onBackClick($event)" class="float-right">  Back </button>              
              <button type="button" nbButton status="primary" (click)="onEditClick($event)"> Edit </button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <h4>
              Source {{ currentSource.name }}
          </h4>            
        </nb-card-header>
        <nb-card-body>
            Availability:  {{ currentSource.availability }}
        </nb-card-body>
      </nb-card>
    </div>
</div>



<nb-card>
  <nb-card-header>
    Daily Report
  </nb-card-header>  

  <nb-card-body>      
      <ngx-daily-chart [dataItems]="series" ></ngx-daily-chart>          
  </nb-card-body>

</nb-card>


