<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>                  
            <h6> Exports  </h6>
      </nb-card-header>
      <nb-card-body>
        <div class="name">
            Organization: {{currentCustomer?.name}} Product: {{currentProduct?.name}}            
        </div>          
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Reports </nb-card-header>
      <nb-card-body>          
          <div class="buttons-row">
              <button type="submit" nbButton status="primary" (click)="onExportPowerBI()">Excel</button>               
              <button type="submit" nbButton status="primary" (click)="onExportItems()">Export Items</button>               
          </div>                      
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header> Availability Excels  </nb-card-header>
      <nb-card-body>          
          <div class="buttons-row">
              <button type="submit" nbButton status="primary" (click)="onAvailabilityAnnualInteractions()">Annual Interactions</button>               
              
          </div>                      
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Import Source Items</nb-card-header>
      <nb-card-body>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">                
              <div class="form-group">                  
                <input type="file" id="metadata" (change)="onFileChange($event)" nbInput fullWidth class="form-control">
                <button type="button" nbButton status="primary" (click)="clearFile()">clear file</button>
              </div>
              <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
            </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>