<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>
            <h2>Product: {{ currentProduct.name }}</h2>
        </nb-card-header>
        <nb-card-body>          
          <form class="form-inline">                            
              <button type="button" nbButton status="primary" (click)="onBackClick($event)" class="float-right"> Back </button>              
          </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="network-canvas"
        [visNetwork]="visNetwork"
        [visNetworkData]="visNetworkData"
        [visNetworkOptions]="visNetworkOptions"
        (initialized)="networkInitialized()"></div>
    </div>
</div>



