<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="d-flex">
              <h5>Organizations</h5>
              <div class="ml-auto mr-4">
                  <nb-actions size="small" >                      
                      <nb-action>
                        <nb-icon class="action-icon" icon="plus-outline" (click)="onCreate($event)" 
                                 style="cursor: pointer;" ></nb-icon>
                        <span>Create</span>                
                      </nb-action>
                    </nb-actions>
              </div>
          </div>        
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onCustomerRowSelect($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
