<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="d-flex align-content-center">
              <h5> {{ currentProduct?.name }}  </h5>

              <label class="ml-auto mr-2 text-info">
                Quality Average: {{ qualityAverage }}| Previous Quality Average: {{qualityPrevious}} | Delta: {{ qualityDelta }}
              </label>              
              <button type="button" nbButton status="primary" (click)="onCreate($event)" class="mr-2"> Create </button>
              
          </div>
      </nb-card-header>  
  
      <nb-card-body>
          <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)">
          </ng2-smart-table>
        </nb-card-body>
  
    </nb-card>
    
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
              Daily availability report
            </nb-card-header>            
            <nb-card-body>                                            
                  
              <div class="row">
                  <div class="col-sm-12">
                      <ngx-daily-detail-chart [dataItems]="series" ></ngx-daily-detail-chart>    
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div echarts [options]="serviceCalendarOptions" style="height: 15rem;" class="echart"
                       (chartInit)="onServiceCalendar($event)"></div>
                  </div>
              </div>
            </nb-card-body>          
          </nb-card>          
    </div>
</div>
