<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="d-flex align-content-center">
              <h5>Risks</h5>
          </div>
      </nb-card-header>
      <nb-card-body>
        <nb-tabset fullWidth>
          <nb-tab tabTitle="Security Risks" >
            <ng2-smart-table [settings]="securitySettings" [source]="securitySource" (userRowSelect)="onSecurityThreatRowSelect($event)">
            </ng2-smart-table>
          </nb-tab>
          <nb-tab tabTitle="Reliability Risks" >
            <ng2-smart-table [settings]="reliabilitySettings" [source]="reliabilitySource"
              (userRowSelect)="onReliablityRowSelect($event)">
            </ng2-smart-table>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>

    </nb-card>
  </div>
</div>

