<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="d-flex align-content-center">
          <h4>Create Squad User</h4>
          <button type="button" nbButton status="primary"  class="btn btn-sm btn-outline-primary ml-auto">
            Back
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row mb-4">
          <div class="col-6">
            <form class="d-flex">
              <input type="text" nbInput fullWidth placeholder="Type here..." class="form-control w-100">
              <button type="submit" nbButton status="primary" class="ml-2">Search</button>
            </form>
          </div>
        </div>
        <!--<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onCustomerRowSelect($event)">
        </ng2-smart-table>-->
      </nb-card-body>
    </nb-card>
  </div>
</div>
