<nb-card>
  <nb-card-header>
    <h4>{{squadName}}</h4>
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="onSubmit();" [formGroup]="createForm">
      <div class="form-group">
        <label>Product</label>
        <select class="form-control" formControlName="productId">
          <option *ngFor="let product of products" [value]="product.id" [selected]="product.id == productId">{{product.name}}</option>
        </select>
      </div>      
      <div class="text-right">
        <button type="button" nbbutton class="appearance-filled size-medium status-info shape-rectangle transitions mr-2" (click)="goBack()" [disabled]="isLoading">Back</button>
        <button type="submit" nbbutton class="appearance-filled size-medium status-primary shape-rectangle transitions" [disabled]="isLoading">{{isLoading ? 'Saving...' : 'Save'}}</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>

