.modal-form {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  &::-webkit-scrollbar-thumb {
    border: 4px solid $grey400;
    background-clip: content-box;
  }
}
