<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Reports</nb-card-header>
        <nb-card-body>          
          <form class="form-inline">

              <label for="txtstartdate" class="label">Start Date</label>
              <input id="txtstartdate" nbInput placeholder="Start Date" [nbDatepicker]="startpicker"  [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
              <nb-datepicker #startpicker></nb-datepicker>


              <label for="txtEndDate" class="label">End Date</label>
              <input id="txtEndDate" nbInput placeholder="End Date" [nbDatepicker]="endpicker" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
              <nb-datepicker #endpicker></nb-datepicker>

              <label for="txtPeriod" class="label">Period</label>
              <input id="txtPeriod" nbInput placeholder="period default(1 day)"  [(ngModel)]="period" [ngModelOptions]="{standalone: true}">

              <button type="button" nbButton status="primary" (click)="handleClick($event)"> Submit </button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
            Source {{ currentSource.name }}
        </nb-card-header>
        <nb-card-body>
          detail
        </nb-card-body>
      </nb-card>
    </div>
</div>



<nb-card>
  <nb-card-header>
    Daily Report
  </nb-card-header>  

  <nb-card-body>      
      <ngx-daily-chart [dataItems]="series" ></ngx-daily-chart>          
  </nb-card-body>

</nb-card>


