<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>
          <div class="d-flex align-content-center">              
              <h5>Feature: {{ currentSource?.name }} </h5>                                      
              <button type="button" nbButton status="primary" (click)="onEditClick($event)" class="ml-auto mr-2"> Edit </button>
              <button type="button" nbButton status="primary" (click)="onBackClick($event)" class=""> Back </button>              
          </div>       
        </nb-card-header>
        <nb-card-body>          
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                      <label for="inputAvailability" class="label col-sm-3 form-control-label">Availability</label>
                      <input readonly="readonly" type="number" [value]="currentSource?.availability" 
                          nbInput fullWidth id="inputAvailability" placeholder=""
                          class="input-full-width size-medium shape-rectangle">                 
                  </div>
                </div>                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputDescription" class="label col-sm-3 form-control-label">Description</label>
                        <input readonly="readonly" type="text" [value]="currentSource?.description" 
                            nbInput fullWidth id="inputDescription" placeholder="Description"
                            class="input-full-width size-medium shape-rectangle">                     
                    </div>
                </div>                
              </div>    
              <div class="row">
                  <div class="col-sm-6">
                      <label for="inputMTTD" class="label form-control-label">Mean time to Detect (MTTD)</label>
                      <input readonly="readonly" type="number" [value]="currentSource?.mttd" 
                          nbInput fullWidth id="inputMTTD" placeholder=""
                          class="input-full-width size-medium shape-rectangle">                 
                  </div>                
                  <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputMTTR" class="label col-sm-6 form-control-label">Mean time to Engage (MTTE)</label>
                        <input readonly="readonly" type="number" [value]="currentSource?.mtte" 
                            nbInput fullWidth id="inputMTTR" placeholder=""
                            class="input-full-width size-medium shape-rectangle">                 
                      </div>
                    </div>     
              </div>
              <div class="row">           
                <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputMTTF" class="label col-sm-6 form-control-label">Mean time to Fix (MTTF)</label>
                      <input readonly="readonly" type="number" [value]="currentSource.mttf" 
                          nbInput fullWidth id="inputMTTF" placeholder=""
                          class="input-full-width size-medium shape-rectangle">                 
                    </div>
                </div>                
                <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputMTBF" class="label col-sm-6 form-control-label">Mean time to Mitigate (MTTM))</label>
                      <input readonly="readonly" type="number" [value]="currentSource.mttm" 
                          nbInput fullWidth id="inputMTBF" placeholder=""
                          class="input-full-width size-medium shape-rectangle">                 
                    </div>
                </div>                
              </div>                        
        </nb-card-body>
      </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <nb-card size="medium">
          <nb-tabset fullWidth>
            <nb-tab tabTitle="Service Level Indicators (SLI)" >              
                <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onIndicatorsRowSelect($event)">
                </ng2-smart-table>              
            </nb-tab>
            <nb-tab tabTitle="Incidents">
                <div>
                    <ng2-smart-table [settings]="incidentSettings" [source]="incidentSource" (userRowSelect)="onIncidentRowSelect($event)">
                    </ng2-smart-table>
                </div>                
            </nb-tab>            
            <nb-tab tabTitle="Squads">
                <div>
                    <ng2-smart-table [settings]="squadsSettings" [source]="squadSource" (userRowSelect)="onSquadRowSelect($event)">
                    </ng2-smart-table>
                </div>                
            </nb-tab>            
          </nb-tabset>
        </nb-card>
      </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Availability Report
      </nb-card-header>  
    
      <nb-card-body>      
          <ngx-daily-detail-chart [dataItems]="series" ></ngx-daily-detail-chart>          
      </nb-card-body>
    
    </nb-card>    
  </div>
</div>

