<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>
        <div class="d-flex align-content-center">
          <h4>{{ currentSource?.name }}</h4>
          <button type="button" nbButton status="info" (click)="onBackClick($event)" class="ml-auto mr-2"> Back </button>
          <button type="button" nbButton status="primary" (click)="onEditClick($event)" class="mr-2"> Edit </button>
          <button type="button" nbButton status="danger" (click)="onDeleteConfirm($event)" class=""> Delete </button>
        </div>
      </nb-card-header>
      <nb-card-body>
          <!--Availability-->
          <div class="row">            
              <div class="col-sm-2">
                  <div class="form-group">                    
                    <label class="label form-control-label"> before Debt </label>
                    <input readonly="readonly" type="number" [value]="currentSource?.products.beforeDebt.availability" 
                        nbInput fullWidth id="inputAvailability" placeholder="Availability" class="input-full-width size-medium shape-rectangle">                                                     
                  </div>              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label form-control-label"> Previous Debt </label>
                  <input readonly="readonly" type="number" [value]="currentSource?.products.previousDebt.availability" 
                      nbInput fullWidth id="inputBudget" placeholder="Availability" class="input-full-width size-medium shape-rectangle">                      
                </div>
            </div>                                  
            <div class="col-sm-2">
              <div class="form-group">
                <label class="label form-control-label">                  
                    Availabilty Debt                  
                </label>
                <input readonly="readonly" type="number" [value]="currentSource?.products.debt.availability" 
                    nbInput fullWidth id="inputBudget" placeholder="Availability" class="input-full-width size-medium shape-rectangle">                      
              </div>
            </div>  

        </div>    

          <!--Latency-->
          <div class="row">            
            <div class="col-sm-2">
                <div class="form-group">
                  <label class="label form-control-label"> before Debt </label>
                  <input readonly="readonly" type="number" [value]="currentSource?.products.beforeDebt.latency" 
                      nbInput fullWidth id="inputAvailability" placeholder="Availability" class="input-full-width size-medium shape-rectangle">                                                     
                </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label class="label form-control-label"> Previous Debt </label>
                <input readonly="readonly" type="number" [value]="currentSource?.products.previousDebt.latency" 
                    nbInput fullWidth id="inputBudget" placeholder="Availability" class="input-full-width size-medium shape-rectangle">                      
              </div>
          </div>                                  
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label form-control-label">                                    Latency Debt              </label>
              <input readonly="readonly" type="number" [value]="currentSource?.products.debt.latency" 
                  nbInput fullWidth id="inputBudget" placeholder="Availability" class="input-full-width size-medium shape-rectangle">                      
            </div>
          </div>  
        </div>
          <!--Experience-->
          <div class="row">            
            <div class="col-sm-2">
                <div class="form-group">
                  <label class="label form-control-label"> before Debt </label>
                  <input readonly="readonly" type="number" [value]="currentSource?.products.beforeDebt.experience" 
                      nbInput fullWidth id="inputAvailability" placeholder="Availability" class="input-full-width size-medium shape-rectangle">                                                     
                </div>
            </div>

            <div class="col-sm-2">
              <div class="form-group">
                <label class="label form-control-label"> Previous Debt </label>
                <input readonly="readonly" type="number" [value]="currentSource?.products.previousDebt.experience" 
                    nbInput fullWidth id="inputBudget" placeholder="Availability" class="input-full-width size-medium shape-rectangle">                      
              </div>
          </div>                                  
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label form-control-label"> Experience Debt </label>
              <input readonly="readonly" type="number" [value]="currentSource?.products.debt.experience" 
                  nbInput fullWidth id="inputBudget" placeholder="Availability" class="input-full-width size-medium shape-rectangle">                      
            </div>
          </div>  

          </div>    
        <div class="row">
          <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputName" class="label col-sm-3 form-control-label">Leaders</label>
                  <input readonly="readonly" type="text" [value]="currentSource?.leaders" 
                      nbInput fullWidth id="inputName" placeholder="Leaders"
                      class="input-full-width size-medium shape-rectangle">                         
                </div>
          </div>                                  
        </div>   
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h5>Products</h5>
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" >
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>




