<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="d-flex align-content-center">
              <h5>Squads</h5>              
              <button type="button" nbButton status="primary" (click)="onGraph($event)" class="ml-auto mr-2"> Graph </button>
              <button type="button" nbButton status="primary" (click)="onCreate($event)" class="mr-2"> Create </button>
          </div>
      </nb-card-header>
      <!-- <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onSquadRowSelect($event)">
        </ng2-smart-table>
      </nb-card-body> -->
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-4 squads" *ngFor="let item of squads; let i = index">
    <nb-card class="squads__item">
      <nb-card-body (click)="onSquadRowSelect(item)">
        <div *ngIf="i < 3" class="squads__item__medal {{i < 3 ? 'medal-' + (i + 1) : ''}}">
          <i class="fas fa-medal"></i>
        </div>
        <div class="squads__item__avatar">
          <img src="{{item.avatar}}" alt="">
        </div>
        <h4 class="text-center squads__item__name">{{item.name}}</h4>
        <div class="row">
          <div class="col-md-7">
              Members
          </div>
          <div class="col-md-3">
            {{item.members}}            
          </div>
          <div class="col-md-2">
            <i class="fas fa-user mr-2 text-primary"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            Features
          </div>
          <div class="col-md-3">
            {{item.features}}            
          </div>
          <div class="col-md-2">
            <i class="fas fa-cogs mr-2 text-success"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            Points
          </div>
          <div class="col-md-3">
            {{item.points}}            
          </div>
          <div class="col-md-2">            
            <i class="fas fa-frown mr-2 text-danger" *ngIf="item.points < 0"></i>
            <i class="fas fa-meh mr-2 text-secondary" *ngIf="item.points == 0"></i>
            <i class="fas fa-smile mr-2 text-warning" *ngIf="item.points > 0"></i>              
          </div>
        </div>        
      </nb-card-body>
    </nb-card>
  </div>
</div>
