<form (ngSubmit)="onSubmit()" [formGroup]="createForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Portfolio</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.close()"
      [disabled]="isLoading"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            name="name"
            formControlName="name"
            class="form-control"
          />
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-6">
        <div class="form-group">
          <label>SLO</label>
          <input
            type="text"
            name="slo"
            formControlName="slo"
            class="form-control"
          />
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="form-group">
          <label>Description</label>
          <textarea
            class="form-control"
            name="description"
            formControlName="description"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-main"
      (click)="modal.close()"
      [disabled]="isLoading"
    >
      Close
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="isLoading">
      {{ isLoading ? "Saving..." : "Save" }}
    </button>
  </div>
</form>
