<div class="wrapper transition">
    <div class="container-table">
      <div class="container text-center">
        <img alt="" src="assets/images/logo-white.png" />
        <h1 class="text-center">
          <span style="display: block">Authenticated</span>
          <span style="display: block">Redirecting to Home</span>
        </h1>
        <div class="loader">
          <span class="loader-dot"></span>
          <span class="loader-dot"></span>
          <span class="loader-dot"></span>
        </div>
      </div>
    </div>
  </div>
