<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>        
        <div class="d-flex align-content-center">
            <h6> Organization: {{currentCustomer?.name}}  Product:  {{currentProduct?.name}} </h6>          
            <button
              type="button"
              nbButton
              status="primary"
              (click)="onAnnualReport($event)"
              class="btn btn-sm btn-outline-primary ml-auto">
              Annual Report
            </button>
      </div>      
      </nb-card-header>
      <nb-card-body>
        <nb-tabset fullWidth>
          <nb-tab tabTitle="Groups">
            <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onRowSelect($event)">
            </ng2-smart-table>
          </nb-tab>  
          <nb-tab tabTitle="Error Budget Debt">            
            <ngx-daily-debt-chart [dataItems]="debtSeries" target="average" showAll="True" ></ngx-daily-debt-chart>    
          </nb-tab>      
        </nb-tabset>        
      </nb-card-body>
    </nb-card>
  </div>
</div>


<nb-card>
  <nb-card-header>   
    <div class="d-flex align-content-center">
    <h6> Selected Group: {{dailyTitle}}  </h6>        
    </div>    
  </nb-card-header>
  <nb-card-body>
    <nb-tabset fullWidth>      
      <nb-tab tabTitle="Journeys">
        <ng2-smart-table [settings]="settingsServices" [source]="sourceServices" (userRowSelect)="onServiceSelect($event)">
        </ng2-smart-table>
      </nb-tab>      
      <nb-tab tabTitle="Reliability Debt">
        <nb-tabset fullWidth>      
          <nb-tab tabTitle="Availability">
            <ngx-daily-debt-chart [dataItems]="series" ></ngx-daily-debt-chart>    
          </nb-tab>
          <nb-tab tabTitle="Latency">
            <ngx-latency-daily-debt-chart [dataItems]="latencySeries" ></ngx-latency-daily-debt-chart>    
          </nb-tab>
          <nb-tab tabTitle="Experience">
            <ngx-daily-debt-chart [dataItems]="experienceSeries" ></ngx-daily-debt-chart>    
          </nb-tab>
        </nb-tabset>
        
      </nb-tab>      
      <nb-tab tabTitle="Calendar Reliability Debt">        
        <nb-tabset fullWidth>      
          <nb-tab tabTitle="Availability">
            <ngx-calendar-debt-chart [dataItems]="calendarSerie" style="height: 15rem;" ></ngx-calendar-debt-chart>                                 
          </nb-tab>
          <nb-tab tabTitle="Latency">
            <ngx-calendar-debt-chart [dataItems]="latencyCalendarSerie" style="height: 15rem;" ></ngx-calendar-debt-chart>                                 
          </nb-tab>
          <nb-tab tabTitle="Experience">
            <ngx-calendar-debt-chart [dataItems]="experienceCalendarSerie" style="height: 15rem;" ></ngx-calendar-debt-chart>                                 
          </nb-tab>
        </nb-tabset>
        
      </nb-tab>      
    </nb-tabset>    
  </nb-card-body>
</nb-card>