<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>        
        <div class="d-flex align-content-center">
            <h6> Organization: {{currentCustomer?.name}}  Product:  {{currentProduct?.name}} </h6>          
            <button
              type="button"
              nbButton
              status="primary"
              (click)="onAnnualReport($event)"
              class="btn btn-sm btn-outline-primary ml-auto">
              Annual Report
            </button>
      </div>      
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onRowSelect($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nb-card>
  <nb-card-header>   
    <div class="d-flex align-content-center">
    <h6> Efectiveness Reports, Selected Group: {{dailyTitle}}  </h6>  
      <button   type="button"
                nbButton
                status="primary"      
                [disabled]="!groupSelected"
                (click)="onGotoServices($event)"
                class="btn btn-sm btn-outline-primary ml-auto">
                Services
      </button>        
    </div>    
  </nb-card-header>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Line">
        <ngx-daily-detail-chart [dataItems]="series" target="average" all="Quality" ></ngx-daily-detail-chart>    
      </nb-tab>      
      <nb-tab tabTitle="Calendar">
        <h6> Selected Group: {{dailyTitle}} </h6>
        <ngx-daily-calendar-chart [dataItems]="calendarSerie" style="height: 15rem;" ></ngx-daily-calendar-chart>                                 
      </nb-tab>      
    </nb-tabset>    
  </nb-card-body>
</nb-card>