<div class="row">
    <div class="col-xxl-4">
        <nb-flip-card showToggleButton="true">
            <nb-card-front>
              <nb-card size="tiny">        
                  <nb-card-header>
                      <h5> Site Reliability Engineer</h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>                      
                        SRE is what happens when you ask a software engineer to design an operations team.                      
                    </p>
                    <p>
                      <strong><i>Benjamin Treynor Sloss, VP founder of SRE at Google.</i></strong>
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                  <h1> False </h1>
                <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon"></nb-icon>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
    </div>


    <div class="col-xxl-4">
        <nb-flip-card showToggleButton="true">
            <nb-card-front>
              <nb-card size="tiny">        
                  <nb-card-header>
                      <h5> Organization & Products </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Organization 
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                  <nb-card-header>
                      <h5> Organization & Products </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Products
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
    </div>

    <div class="col-xxl-4">
        <nb-flip-card showToggleButton="true">
            <nb-card-front>
              <nb-card size="tiny">        
                  <nb-card-header>
                      <h5> Squads & Members </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Squads
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                  <nb-card-header>
                      <h5> Squad & Members </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Members
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
    </div>
</div>
  
<div class="row">
    <div class="col-xxl-4">
        <nb-flip-card showToggleButton="true">
            <nb-card-front>
              <nb-card size="tiny">        
                  <nb-card-header>
                      <h5> Service Level Indicator </h5>
                  </nb-card-header>                
                  <nb-card-body>
                      <p>
                          Is your system helthtly ?                        
                      </p>
                      <ul class="mb-5">
                          <li>Request Latency</li>
                          <li>Requests per second</li>
                          <li>Failures per request</li>
                      </ul>                    
                  </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                  <nb-card-header>
                      <h5>  </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Binding target for a collection 
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
    </div>
    <div class="col-xxl-4">
        <nb-flip-card showToggleButton="true">
            <nb-card-front>
              <nb-card size="tiny">        
                  <nb-card-header>
                      <h5> Service Level Objectives  </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Binding target for a collection of SLIs
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                  <nb-card-header>
                      <h5> Organization & Products </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Products
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
    </div>
    <div class="col-xxl-4">
        <nb-flip-card showToggleButton="true">
            <nb-card-front>
              <nb-card size="tiny">        
                  <nb-card-header>
                      <h5> Analysis period and Error Budget </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Organization 
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                  <nb-card-header>
                      <h5> Organization & Products </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Products
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
    </div>
</div>
  

<div class="row">
    <div class="col-xxl-12">
        <nb-flip-card showToggleButton="true">
            <nb-card-front>
              <nb-card size="tiny">        
                  <nb-card-header>
                      <h5> Incidents </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Is your system helthtly ?
                        Request Latency 
                        Requests per second 
                        Failures per request
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card size="tiny">
                  <nb-card-header>
                      <h5>  </h5>
                  </nb-card-header>                
                  <nb-card-body>
                    <p>
                        Binding target for a collection 
                    </p>
                  </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
    </div>
    
</div>