<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>        
        <div class="d-flex align-content-center">
          <h6> Organization: {{currentCustomer?.name}}  Product:  {{currentProduct?.name}} </h6>          
          <button
          type="button"
          nbButton
          status="primary"
          (click)="goBack()"
          class="btn btn-sm btn-outline-primary ml-auto">
            Back
          </button>
      </div>
      </nb-card-header>
      <nb-card-body>
        <nb-tabset fullWidth>          
          <nb-tab tabTitle="Availability">
            <ng2-smart-table [settings]="settings" [source]="sourceAvailability" (userRowSelect)="onRowSelect($event)">
            </ng2-smart-table>
            

            <br/>
            <br/>
            <br/>
            <br/>

            <ngx-daily-debt-chart [dataItems]="series"></ngx-daily-debt-chart>    

            <br/>
            <br/>
            <br/>
            <br/>
            <ngx-calendar-debt-chart [dataItems]="calendarSerie" style="height: 15rem;" ></ngx-calendar-debt-chart>                                 

          </nb-tab>
          <nb-tab tabTitle="Latency">
            <ng2-smart-table [settings]="settings" [source]="sourceLatency" (userRowSelect)="onRowSelect($event)">
            </ng2-smart-table>
            
            <br/>
            <br/>
            <br/>
            <br/>

            <ngx-daily-debt-chart [dataItems]="latencySeries"></ngx-daily-debt-chart>    

            <br/>
            <br/>
            <br/>
            <br/>
            <ngx-calendar-debt-chart [dataItems]="latencyCalendarSerie" style="height: 15rem;" ></ngx-calendar-debt-chart>                                 
          </nb-tab>
          <nb-tab tabTitle="Experience">
            <ng2-smart-table [settings]="settings" [source]="sourceExperience" (userRowSelect)="onRowSelect($event)">
            </ng2-smart-table>
            
            <br/>
            <br/>
            <br/>
            <br/>

            <ngx-daily-debt-chart [dataItems]="experienceSeries"></ngx-daily-debt-chart>    

            <br/>
            <br/>
            <br/>
            <br/>
            <ngx-calendar-debt-chart [dataItems]="experienceCalendarSerie" style="height: 15rem;" ></ngx-calendar-debt-chart>                                 
          </nb-tab>
        </nb-tabset>      
      </nb-card-body>
    </nb-card>
  </div>


</div>


