<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>        
        <div class="d-flex align-content-center">
          <h5>Users</h5>          
          <button type="button" nbButton status="primary" (click)="onCreate($event)" class="btn btn-sm btn-outline-primary ml-auto">
              Create
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
          <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onRowSelected($event)">
          </ng2-smart-table>
        </nb-card-body>
    </nb-card>
  </div>
</div>


