<div class="row">
    <div class="col-xxxl-2 col-md-3" >
        <nb-card size="tiny">
            <nb-card-header>
                <h5> Services </h5> 
            </nb-card-header>
            <nb-card-body>
                <div echarts [options]="optionServices" class="echart">
                </div>
                <div class="info">
                  <div class="h5 value"> # {{ serviceStats.count }}</div>
                  <div class="details subtitle-2"><span> {{ serviceStats.count }} </span> </div>
                </div>                                                             
            </nb-card-body>          
        </nb-card>
    </div>

    <div class="col-xxxl-2 col-md-3" >
        <nb-card size="tiny">
            <nb-card-header>
                <h5> Features </h5> 
            </nb-card-header>
            <nb-card-body>
                <div echarts [options]="optionFeatures" class="echart">
                </div>
                <div class="info">
                  <div class="h5 value"> # {{ featuresStats.count }}</div>
                  <div class="details subtitle-2"><span> {{ featuresStats.count }} </span> </div>
                </div>                                                             
            </nb-card-body>          
        </nb-card>
    </div>    
    <div class="col-xxxl-2 col-md-3" >
        <nb-card size="tiny">
            <nb-card-header>
                <h5> Squads </h5> 
            </nb-card-header>
            <nb-card-body>
                <div echarts [options]="optionFeatures" class="echart">
                </div>
                <div class="info">
                  <div class="h5 value"> # {{ squadCount }}</div>
                  <div class="details subtitle-2"><span> {{ squadCount }} </span> </div>
                </div>                                                             
            </nb-card-body>          
        </nb-card>
    </div>    
    <div class="col-xxxl-2 col-md-3" >
        <nb-card size="tiny">
            <nb-card-header>
                <h5> Sources </h5> 
            </nb-card-header>
            <nb-card-body>
                <div echarts [options]="option" class="echart">
                </div>
                <div class="info">
                  <div class="h5 value"> # {{ sourceStats.count }}</div>
                  <div class="details subtitle-2"><span> {{sourceTotal}} </span> </div>
                </div>                                                             
            </nb-card-body>          
        </nb-card>
    </div>

    <div class="col-xxxl-2 col-md-3" >
        <nb-card size="tiny">
            <nb-card-header>
                <h5> Incidents </h5> 
            </nb-card-header>
            <nb-card-body>
                <div echarts [options]="option" class="echart">
                </div>
                <div class="info">
                  <div class="h5 value"> # {{ incidentCount }}</div>
                  <div class="details subtitle-2"><span> {{ incidentTotal }} </span> </div>
                </div>                                                             
            </nb-card-body>          
        </nb-card>
    </div>
</div>

<div class="row">
  <div class="col-xxxl-4 col-xxl-4 col-lg-7 col-md-6">
    <nb-card size="giant">
      <nb-tabset fullWidth>
    
        <nb-tab tabTitle="Sources">
          <nb-list>
            <nb-list-item class="source" *ngFor="let c of sources">
              <nb-user [picture]="c.avatar" [name]="c.name" [title]="c.availability" 
                    size="large" (click)="onSourceClick($event)" [id]="c.id" 
                    style="cursor: pointer"></nb-user>
              <nb-icon icon="phone-outline" pack="eva" (click)="onSourceClick($event)" [id]="c.id"></nb-icon>
            </nb-list-item>
          </nb-list>
        </nb-tab>
    
        <nb-tab tabTitle="Recent">
          <nb-list>
            <nb-list-item class="contact" *ngFor="let c of recent">
              <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
              <span class="caption">{{ c.time | date: 'shortTime' }}</span>
            </nb-list-item>
          </nb-list>
        </nb-tab>
    
      </nb-tabset>
    </nb-card>    
  </div>
</div>

