<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>
        <div class="d-flex align-content-center">
          <h4>{{ incident?.key }}</h4>
          <button type="button" nbButton status="info" (click)="onBackClick($event)" class="ml-auto mr-2"> Back </button>
          <button type="button" nbButton status="primary" (click)="onEditClick($event)" class="mr-2"> Edit </button>
          <button type="button" nbButton status="danger" (click)="onDeleteConfirm($event)" class=""> Delete </button>
        </div>
      </nb-card-header>
      <nb-card-body>          
        <div class="row">            
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="inputDescription" class="label col-sm-3 form-control-label">title</label>
                    <input readonly="readonly" type="text" [value]="incident?.title" 
                        nbInput fullWidth id="inputDescription" placeholder="title"
                        class="input-full-width size-medium shape-rectangle">                     
                </div>
            </div>                
          </div>    
          <div class="row">
              <div class="col-sm-6">
                  <label for="inputMTTD" class="label form-control-label">Time to Detect</label>
                  <input readonly="readonly" type="number" [value]="incident?.ttd" 
                      nbInput fullWidth id="inputMTTD" placeholder=""
                      class="input-full-width size-medium shape-rectangle">                 
              </div>                
              <div class="col-sm-6">
                  <div class="form-group">
                    <label for="inputMTTR" class="label col-sm-6 form-control-label">Time to Engage</label>
                    <input readonly="readonly" type="number" [value]="incident?.tte" 
                        nbInput fullWidth id="inputMTTR" placeholder=""
                        class="input-full-width size-medium shape-rectangle">                 
                  </div>
                </div>     
          </div>
          <div class="row">           
            <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputMTTF" class="label col-sm-6 form-control-label">Time to Fix</label>
                  <input readonly="readonly" type="number" [value]="incident?.ttf" 
                      nbInput fullWidth id="inputMTTF" placeholder=""
                      class="input-full-width size-medium shape-rectangle">                 
                </div>
            </div>                
            <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputMTBF" class="label col-sm-6 form-control-label">Time to Mitigate</label>
                  <input readonly="readonly" type="number" [value]="incident?.ttm" 
                      nbInput fullWidth id="inputMTBF" placeholder=""
                      class="input-full-width size-medium shape-rectangle">                 
                </div>
            </div>                
          </div>                 
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                  <label for="inpDate" class="label col-sm-3 form-control-label">Start</label>
                  <input readonly="readonly" type="datetime" [value]="incident?.start"                                             
                      nbInput fullWidth id="inpDate" placeholder=""
                      class="input-full-width size-medium shape-rectangle">                 
              </div>
            </div>                
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inpEnd" class="label col-sm-3 form-control-label">End</label>
                <input readonly="readonly" type="datetime" [value]="incident?.end"
                    nbInput fullWidth id="inpEnd" placeholder=""
                    class="input-full-width size-medium shape-rectangle">                 
              </div>
            </div>                
          </div>   
          <div class="row">            
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputAvailability" class="label col-sm-3 form-control-label">Affected</label>
                    <input readonly="readonly" type="number" [value]="incident?.affected" 
                        nbInput fullWidth id="inputAvailability" placeholder=""
                        class="input-full-width size-medium shape-rectangle">                 
                </div>
            </div>                
            <div class="col-sm-6">
                <div class="form-group">                         
                    <label for="inputAvailability" class="label col-sm-3 form-control-label"></label>
                    <p>
                        <b>
                            <a  href="{{incident?.url}}"   target="_blank" > Url Detail </a>                                   
                        </b>             
                    </p>                    
                  </div>
            </div>                
          </div>        
    </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <h5>Features</h5>         
        </nb-card-header>  
    
        <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)">
            </ng2-smart-table>
          </nb-card-body>
    
      </nb-card>
      
    </div>
  </div>
  
