@import '../../../sass/colors/_colors';
@import '../../../sass/variables/_variables';

.home {
  &__info-card {
    color: $fullWhite !important;
    padding-left: 60px;
    position: relative;
    height: 110px;

    &__icon {
      font-size: 48px;
      position: absolute;
      left: 0;
    }

    &__title, &__count {
      text-align: right;
    }

    &__count {
      margin-top: 1.5rem;
      font-size: 18px;
    }

    &__description {
      color: $lightWhite;
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 1.25rem - 1.25rem);
    }
  }
}
