<div class="row">
    <div class="col-md-12" >
        <nb-card >
          <nb-card-header>
            
              <div class="d-flex align-content-center">
                  <h4> {{ currentSource?.name }} </h4>                                
                  <button type="button" nbButton status="primary" (click)="onEditClick($event)" class="ml-auto mr-2"> Edit </button>                
                  <button type="button" nbButton status="danger" (click)="onDeleteClick($event)"  class="mr-2"> Delete </button>
                  <button type="button" nbButton status="primary" (click)="onBackClick($event)" class="mr-2"> Back </button>                            
                  
              </div>
          </nb-card-header>
          <nb-card-body> 
  
              <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                      <label for="inputSLO" class="label col-sm-3 form-control-label">SLO</label>
                      <input readonly="readonly" type="number" [value]="currentSource.slo" 
                          nbInput fullWidth id="inputSLO" placeholder="Availability"
                          class="input-full-width size-medium shape-rectangle">                      
                    </div>  
                  </div>       
                  <div class="col-sm-2">
                      <div class="form-group">
                        <label for="inputAvailability" class="label col-sm-3 form-control-label">Quality</label>
                        <input readonly="readonly" type="number" [value]="currentSource.availability" 
                            nbInput fullWidth id="inputAvailability" placeholder="Availability"
                            class="input-full-width size-medium shape-rectangle">                                                     
                      </div>
                  </div>
                                               
                  <div class="col-sm-2">
                      <div class="form-group">
                        <label for="inputBudget" class="label form-control-label">Error Budget</label>
                        <input readonly="readonly" type="number" [value]="currentSource.budget" 
                            nbInput fullWidth id="inputBudget" placeholder="Availability"
                            class="input-full-width size-medium shape-rectangle">                      
                      </div>
                  </div>                  
                  <div class="col-sm-2">
                    <div class="form-group">

                      <label for="inputBudget" class="label form-control-label">

                        <div *ngIf="currentSource.delta >= 0">
                          Previous  |  <i class='fas fa-arrow-up text-success'>  {{ currentSource.delta }} </i>  
                        </div>
                        <div *ngIf="currentSource.delta < 0">
                          Previous  | <i class='fas fa-arrow-down text-danger'> {{ currentSource.delta }}</i>
                        </div>
                                                
                      </label>
                      <input readonly="readonly" type="number" [value]="currentSource.previousAvailability" 
                          nbInput fullWidth id="inputBudget" placeholder="Availability" 
                          class="input-full-width size-medium shape-rectangle"/>                      
                    </div>
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                      <label class="label form-control-label">
                        <div *ngIf="currentSource.delta2 >= 0">
                          Previous II | <i class='fas fa-arrow-up text-success'> {{ currentSource.delta2 }}</i>
                        </div>
                        <div *ngIf="currentSource.delta2 < 0">
                          Previous II | <i class='fas fa-arrow-down text-danger'> {{ currentSource.delta2 }}</i>
                        </div>
                      </label>
                      
                      <input readonly="readonly" type="number" [value]="currentSource.previousAvailabilityII" 
                          nbInput fullWidth id="inputBudget" placeholder="Availability"
                          class="input-full-width size-medium shape-rectangle">                      
                    </div>
                  </div>

              </div>

              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="inputAvailability" class="label col-sm-3 form-control-label">Aggregation</label>
                    <input readonly="readonly" type="text" [value]="currentSource.aggregation" 
                        nbInput fullWidth id="inputAvailability" placeholder="Aggregation"
                        class="input-full-width size-medium shape-rectangle">                         
                  </div>
                </div>
                <div class="col-sm-2">

                  
                  <div class="form-group">
                    <label for="groupText" class="label form-control-label"> Group </label>
                    <input readonly="readonly" type="text" [value]="currentSource?.group" 
                        nbInput fullWidth id="groupText" placeholder="group"
                        class="input-full-width size-medium shape-rectangle">                     
                  </div>
                </div>

                <div class="col-sm-2">
                  <div class="form-group">
                    <label for="inputImpact" class="label col-sm-3 form-control-label">Impact</label>
                    <input readonly="readonly" type="number" [value]="currentSource?.impact" 
                        nbInput fullWidth id="inputImpact" placeholder="Availability"
                        class="input-full-width size-medium shape-rectangle">
                  </div>
                </div>
              </div>
         
              <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                      <label for="inputAvailability" class="label col-sm-3 form-control-label">Leaders</label>
                      <input readonly="readonly" type="text" [value]="currentSource?.leaders" 
                          nbInput fullWidth id="inputAvailability" placeholder="Leaders"
                          class="input-full-width size-medium shape-rectangle">                         
                    </div>
                </div>
              </div>
  
          </nb-card-body>
        </nb-card>
      </div>
</div>
<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>          
          Features             
        </nb-card-header>
        <nb-card-body>                        
            <ng2-smart-table [settings]="settings" 
                [source]="source" 
                (userRowSelect)="onFeaturesRowSelect($event)">
            </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <nb-card size="medium" style="height: 50rem">
          <nb-tabset fullWidth>
              <nb-tab tabTitle="Daily Report" >              
                  <div class="row">
                    <div class="col-sm-12">
                        <ngx-daily-detail-chart [dataItems]="series" target="average" all="Quality" ></ngx-daily-detail-chart>                            
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <ngx-daily-calendar-chart [dataItems]="calendarSerie" style="height: 15rem;" ></ngx-daily-calendar-chart>                                                           
                      </div>
                  </div>                    
                </nb-tab>   
            <!-- <nb-tab tabTitle="Feature Availability Debt" style="display: none;" >              
                <div echarts [options]="sliOptions" style="height: 30rem;" 
                  class="echart" (chartInit)="onSliChatInit($event)"></div>
            </nb-tab> -->
                    
            <nb-tab tabTitle="Service Level Indicators" >              
                <p>
                    <b> Feature : {{ currentFeature?.name }}</b>                
                </p>
                <div class="row">
                  <div class="col-md-12">
                      <ng2-smart-table [settings]="indicatorSettings" [source]="indicatorSource" (userRowSelect)="onIndicatorsRowSelect($event)">
                      </ng2-smart-table>   
                  </div>
                </div>                  
            </nb-tab>
            <nb-tab tabTitle="Dependencies" >                            
              <div class="row">
                <div class="col-md-12">
                    <div class="network-canvas"
                    [visNetwork]="visNetwork"
                    [visNetworkData]="visNetworkData"
                    [visNetworkOptions]="visNetworkOptions"
                    (initialized)="networkInitialized()">
                  </div>                    
                </div>
              </div>                  
          </nb-tab>
            <nb-tab tabTitle="Squads">
                <p>
                    <b> Feature : {{ currentFeature?.name }}</b>                
                </p>                
                <ng2-smart-table [settings]="squadsSettings" [source]="squadSource" (userRowSelect)="onSquadRowSelect($event)">
                </ng2-smart-table>
                
            </nb-tab>
          </nb-tabset>
        </nb-card>
      </div>
</div>