/*
	Site Colors
*/

$mainColor: #242424;
$secondColor: #00bd94;

$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

$defaultText: $grey800;

$headerBackgroundColor: $mainColor;
$headerFontColor: $fullWhite;
/*
	External colors
*/
$facebookColor: #3B5998;
$googleColor: #DD4B39;
$linkedinColor: #0073B2;
$gitHubColor: #2da446;
$bitBucketColor: #2b4d73;
$gitLabColor: #e2452b;
/*

*/
$ionicons-font-path: "node_modules/ionicons/fonts" !default;
$nebular-icons-font-path: "node_modules/nebular-icons/fonts" !default;
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts" !default;
