<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo pl-0" (click)="goToHome()">
      <!--<img src="/assets/img/logo/logo-new-white.png" height="40" alt="Alternate Text" />-->
      Project Falcon
    </div>
  </div>
  <!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<div class="header-container">
  <!--<ngx-layout-direction-switcher></ngx-layout-direction-switcher>-->
  <nb-actions size="medium"
              [class.right]="position === 'normal'"
              [class.left]="position === 'inverse'">
    <!--<nb-action icon="nb-gear" class="toggle-layout" (click)="toggleSettings()"></nb-action>-->
    <nb-action *nbIsGranted="['view', 'user']">
      <nb-user [name]="name" [picture]="user?.picture" [nbContextMenu]="userMenu" nbContextMenuTag="user-menu"></nb-user>
    </nb-action>

    <nb-action class="control-item sidebar-action" badgeText="{{notificationsCountBadge}}" icon="nb-notifications" (click)="toggleNotificationSidebar($event)" id="sidebarAction">
    </nb-action>
    <nb-action class="control-item">
      <button class="btn btn-sm btn-out btn-primary" nbPopoverPlacement="bottom" [nbPopover]="templateRef">+ New</button>
      <ng-template #templateRef>
        <ul class="list-unstyled menu-popover">
          <li>
            <a (click)="goToCreateOrganization();">
              <i class="fas fa-building"></i> &nbsp;
              New Organization
            </a>
          </li>
          <div class="dropdown-divider"></div>
          <li>
            <a (click)="openNewProjectModal();" *ngIf="toolBarModel?.organizationId != undefined">
              <i class="fas fa-folder"></i> &nbsp;
              New Project
            </a>
          </li>
          <li>
            <a (click)="openNewPipeModal();" *ngIf="toolBarModel?.projectId != undefined">
              <i class="fas fa-code"></i> &nbsp;
              New Pipe
            </a>
          </li>
          <li>
            <a (click)="openNewFeatureModal();" *ngIf="toolBarModel?.projectId != undefined">
              <i class="fas fa-lightbulb"></i> &nbsp;
              New Feature
            </a>
          </li>
          <div class="dropdown-divider"></div>
          <li>
            <a>
              <i class="fas fa-user-plus"></i> &nbsp;
              Invite User
            </a>
          </li>
        </ul>
      </ng-template>

    </nb-action>
  </nb-actions>
</div>

<div class="sidebar sidebar-right" style="width: 600px; right: -600px;" id="sidebarNotifications">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <i class="far fa-list-alt"></i>
        Notification List
      </h5>
    </div>
    <div class="card-body notification-list">
      <ul class="list-unstyled">
        <li *ngFor="let item of realTimeEvents">
          <span class="name-initials">{{item.name | initials: 2}}</span>
          <div>
            <span class="text-capitalize">{{item.type}}</span>: {{item.name}}
          </div>
          <div>
            Step: {{item.currentStep}}
          </div>
          <div>
            <i class="fas fa-clock primary-text" *ngIf="item.status === 'In Progress'"></i>
            <i class="fas fa-check-circle success-text" *ngIf="item.status === 'Succeed'"></i>
            {{item.status}}
          </div>
          <div class="text-right" *ngIf="item.eventData !== null">
            <a (click)="onGotoView(item);" class="btn btn-primary btn-sm">View <span class="text-capitalize">{{item.type}}</span></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-footer text-right">
      <button class="btn btn-danger">Close</button>
    </div>
  </div>
</div>

<div class="contact">
  <ng-template #popContent>
    <ul class="list-unstyled pl-0">
      <li>
        <a href="https://github.com/pipelinespace/Core" target="_blank">
          <i class="fab fa-github mr-2"></i>
          Report an Issue
        </a>
      </li>
      <li>
        <a href="https://docs.pipelinespace.com/" target="_blank">
          <i class="far fa-file-alt mr-2"></i>
          Documentation
        </a>
      </li>
    </ul>
  </ng-template>
  <a role="button" class="contact-bubble" [ngbPopover]="popContent" popoverClass="contact-options">
    <i class="fas fa-comment-alt"></i>
  </a>
</div>
