<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>                  
            <h5> Customer: {{currentCustomer?.name}} </h5>                        
      </nb-card-header>
      <nb-card-body>
          
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Export to Excel</nb-card-header>
        <nb-card-body>          
            <div class="buttons-row">
                <button type="submit" nbButton status="primary" (click)="onExport($event)">Export Data</button> 
                <button type="submit" nbButton status="primary" (click)="onExportMetadata($event)">Export Metadata</button>
            </div>              
          
        </nb-card-body>
      </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Import metadata from Excel</nb-card-header>
        <nb-card-body>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">                
                <div class="form-group">
                  <label for="metadata">Metadata</label>
                  <input type="file" id="metadata" (change)="onFileChange($event)" nbInput fullWidth class="form-control">
                  <button type="button" nbButton status="primary" (click)="clearFile()">clear file</button>
                </div>
                <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
              </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>

