<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
          <div class="d-flex align-content-center">
              <h5>Create Security Risk</h5>              
              <button type="button" nbButton status="primary" (click)="onCreateReliability($event)" class="ml-auto mr-2"> Reliabiliity </button>
              <button type="button" nbButton status="primary" (click)="onCreateSecurity($event)" class="mr-2"> Security </button>
          </div>
      </nb-card-header>
      
    </nb-card>
  </div>
</div>

