<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="d-flex align-content-center">
          <h5>User {{ currentUser?.email }}</h5>
          <button
            type="button"
            nbButton
            status="primary"
            (click)="onEditClick($event)"
            class="ml-auto mr-2"
          >
            Edit
          </button>
          <button
            type="button"
            nbButton
            status="danger"
            (click)="onDeleteClick($event)"
            class="mr-2"
          >
            Delete
          </button>
          <button
            type="button"
            nbButton
            status="primary"
            (click)="onBackClick($event)"
            class="float-right"
            class="mr-2"
          >
            Back
          </button>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>
